body {
    font-family: verdana, arial, helvetica, sans-serif;
    text-align: left;
}

#header {
    margin-bottom: 10px;
}

#uiControls {
    width: 150px;
    padding-right: 5px;
/*    margin-bottom: 10px;*/
/*    padding-bottom: 10px;*/
/*    border-bottom-style: solid;*/
    border-right-style: solid;

    border-width: 1px;
    float: left;
}


#quickSortCanvas {
/*    margin-top: 10px;*/
    margin-left: 160px;
}

.leaf, .leaf_final {
    position: absolute;
}

.leaf_final .cell { background-color: DarkSeaGreen;}
.leaf_final .pivotPre { background-color: DarkSeaGreen;}
.leaf_final .array { margin-top: 0px; }

.cell, .pivotPost, .pivotPre, .singleton {
    display: inline-block;
    border-right-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
    width: 20px;
}

.cell {
    width: 20px;
}
.pivotPre {
    background-color: yellow;
}

.singleton, .pivotPost {
    background-color: DarkSeaGreen;
}

.array {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 8px;
}

.inputVals {
    margin: 1px;
    text-align: center;
}

p.form {
    margin: 3px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 75%;
    text-align: center;
    margin-bottom: 10px;

}

#runButton, #randButton, #numButton {
    margin-left: 5px;
    margin-right: 5px;
}